// -----------------------------------------------------------------------------
// This file contains all default variables overrides of Bootstrap.
// -----------------------------------------------------------------------------

$primary: #b54c88;

$enable-rounded: false;
$enable-shadows: true;
